<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VipUserMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_VIPUSER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		CARDNO,	
		VIPTYPE,	
		DISCOUNT,	
		NAME,	
		TEL,	
		ADDRESS,	
		BRITHDAY,	
		STORAGEBALANCE,	
		INVENTORYBALANCE,	
		INTEGRAL,	
		OPENCARDTIME,	
		EXPIRATIONDATE,	
		REMARK,	
		REMINDING,	
		PASSWORD,	
		VIPUSER_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CARDNO},	
		#{VIPTYPE},	
		#{DISCOUNT},	
		#{NAME},	
		#{TEL},	
		#{ADDRESS},	
		#{BRITHDAY},	
		#{STORAGEBALANCE},	
		#{INVENTORYBALANCE},	
		#{INTEGRAL},	
		#{OPENCARDTIME},	
		#{EXPIRATIONDATE},	
		#{REMARK},	
		#{REMINDING},	
		#{PASSWORD},	
		#{VIPUSER_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
		
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			VIPUSER_ID = #{VIPUSER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			CARDNO = #{CARDNO},
			VIPTYPE = #{VIPTYPE},
			DISCOUNT = #{DISCOUNT},
			NAME = #{NAME},
			TEL = #{TEL},
			ADDRESS = #{ADDRESS},
			BRITHDAY = #{BRITHDAY},
			STORAGEBALANCE = #{STORAGEBALANCE},
			INVENTORYBALANCE = #{INVENTORYBALANCE},
			INTEGRAL = #{INTEGRAL},
			OPENCARDTIME = #{OPENCARDTIME},
			EXPIRATIONDATE = #{EXPIRATIONDATE},
			REMARK = #{REMARK},
			REMINDING = #{REMINDING},
			PASSWORD = #{PASSWORD},
		VIPUSER_ID = VIPUSER_ID
		where 
		VIPUSER_ID = #{VIPUSER_ID}
	</update>
	<!-- 修改 -->
	<update id="setAllUserGrade" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			VIPTYPE = #{OLDVIPTYPE},
			DISCOUNT = #{OLDDISCOUNT}
		where 
			VIPTYPE = #{VIPTYPE}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			VIPUSER_ID = #{VIPUSER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''">
			and
				(
					NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					TEL LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					 or 
					CARDNO LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
		<if test="pd.BRITHDAY!= null and pd.BRITHDAY != ''">
			and BRITHDAY = '${pd.BRITHDAY}'
		</if>
		
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			VIPUSER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>