<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content=" LiYuxi" />
<meta name="Copyright" content="" />
<meta name="Keywords" content="">   
<meta name="Description" content="">   
<title>预定</title>
<script type="text/javascript" src="js/jquery.min.js"></script>
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="css/styles.css" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
  <div class="wrap bc">
    <div class="title tc pr top">
	  <span class="back-btn"></span>商品预定
	  <div class="nav-btn">
	    <ul class="pa">
	      <li><a href="content.html">关于我们</a></li>
		  <li><a href="content.html">公司文化</a></li>
		  <li><a href="">招贤纳士</a></li>
		  <li><a href="news_list.html">新闻动态</a></li>
		  <li><a href="">成功案例</a></li>
	    </ul>
	  </div>
	</div>
	<form class="book" method="post" action="">
	  <input type="hidden" class="countNum" value="10" />
	  <div class="info mt10">
	    <h4><lable>商品名称：</lable><span>四倍蚕丝凝白柔肤</span></h4>
		<h4><lable>商品单价：</lable><span>89元</span></h4>
		<h4 class="num"><lable class="fl">商品数量：</lable><span class="subtract">-</span><input value="1" name="count" class="count" readonly = "true"/><span class="add">+</span></h4>
	  </div>
	  <p>预定人<input type="text" name="name" class="name" value="输入您的姓名" /></p>
	  <p>手机号<input type="text" name="mobile" class="mobile" value="输入您的手机号" /></p>
	  <a class="title submit-btn mt10 tc">提交订单</a>
	</form>
	<div class="footer mt10 tc">
	  <p class="phone">联系电话：0311-1234567</p>
	  <p class="support">技术支持：某某网络科技有限公司</p>
	  <p class="copyright">Copyright &copy; 2014.Company name All rights reserved.</p>
	</div>
  </div> 
  <script type="text/javascript" src="js/script.js"></script>
<div style="display:none"></div>
</body>
</html>