<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content=" LiYuxi" />
<meta name="Copyright" content="" />
<meta name="Keywords" content="">   
<meta name="Description" content="">   
<title>内容页</title>
<script type="text/javascript" src="js/jquery.min.js"></script>
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="css/styles.css" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
  <div class="wrap bc">
    <div class="title tc pr top">
	  <span class="back-btn"></span>今日特惠
	  <div class="nav-btn">
	    <ul class="pa">
	      <li><a href="content.html">关于我们</a></li>
		  <li><a href="content.html">公司文化</a></li>
		  <li><a href="">招贤纳士</a></li>
		  <li><a href="news_list.html">新闻动态</a></li>
		  <li><a href="">成功案例</a></li>
	    </ul>
	  </div>
	</div>
	<div class="content">
	  <h2>关于我们</h2>
	  <h6>2013-09-24</h6>
	  <p class="article mt10">
	    <img src="uploads/banner.gif"/>
		秋季是一个特别的季节，气温骤降容易引发感冒，而气候也渐渐干燥，对皮肤以及身体的水分平衡较大影响。因此需要增强抵抗力，并且适当补气滋阴，才有助于健康度过秋季。秋季饮食，切勿贪食各种油腻辛辣食品，因为肠胃一下子无法从夏日清淡中适应过来。这个时候来些滋补养颜的粥品，以温养温，以味养胃，绝对是秋季养生的绝佳选择。粥养生在我国具有悠久的历史。各个季节有不同的养生粥，尤其是秋季养生，不如寻找适合自己的粥品，以温养温，以味养胃。
	  </p>
	</div>
	<div class="footer mt10 tc">
	  <p class="phone">联系电话：0311-1234567</p>
	  <p class="support">技术支持：某某网络科技有限公司</p>
	  <p class="copyright">Copyright &copy; 2014.Company name All rights reserved.</p>
	</div>
  </div> 
  <script type="text/javascript" src="js/script.js"></script>
<div style="display:none"></div>
</body>
</html>