<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content=" LiYuxi" />
<meta name="Copyright" content="" />
<meta name="Keywords" content="">   
<meta name="Description" content="">   
<title>特惠</title>
<script type="text/javascript" src="js/jquery.min.js"></script>
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="css/styles.css" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
  <div class="wrap bc">
    <div class="title tc pr top">
	  <span class="back-btn"></span>今日特惠
	  <div class="nav-btn">
	    <ul class="pa">
	      <li><a href="content.html">关于我们</a></li>
		  <li><a href="content.html">公司文化</a></li>
		  <li><a href="">招贤纳士</a></li>
		  <li><a href="news_list.html">新闻动态</a></li>
		  <li><a href="">成功案例</a></li>
	    </ul>
	  </div>
	</div>
	<div class="list">
	  <ul>
	    <li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
			相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
			相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
			相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
	  </ul>
	</div>
	<div class="footer mt10 tc">
	  <p class="phone">联系电话：0311-1234567</p>
	  <p class="support">技术支持：某某网络科技有限公司</p>
	  <p class="copyright">Copyright &copy; 2014.Company name All rights reserved.</p>
	</div>
  </div> 
  <script type="text/javascript" src="js/script.js"></script>
<div style="display:none"></div>
</body>
</html>